<div class="container">
  <h2>グループ一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>name</th>
        <th>introduction</th>
      </tr>
    </thead>
    <% @groups.each do |group| %>
      <tbody>
         <tr>
           <td><%= attachment_image_tag group, :image, :fill, 45, 45, fallback: "no-group-image.jpg", size:"60x60" %></td>
           <td><%= group.name %></td>
           <td><%= group.introduction %></td>
         </tr>
    　</tbody>
    <% end %>
  </table>
</div>
