<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th>test</th>
          </tr>
          <tr>
            <th>introduction</th>
            <th>中身</th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to edit_user_path(current_user.id) do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>



    </div>
    <div class="col-md-8 offset-md-1">

    </div>

  </div>
</div>